<!DOCTYPE html>
<html>
<head>
<title>T&I</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/admin/css/aboutus.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/5ce999ceac.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="/giris"><img src="/admin/img/logo_mor.png" alt="logo" style="padding-right: 250px;padding-left: 50px; width: 22vw; height: auto;"></a>
        <div class="nav-menu">
            <li>
                <ul class="ul1"><a href="/giris/about-us">About Us </a></ul>
                <ul class="ul1"><a href="/giris/how-it-works">How It Works?</a></ul> 
            </li>
        </div>
        <div class="nav-menu" style="padding-left: 360px;">
            <li>
               <ul class="ul2"><a  href="/login" >Sign In</a></ul>
                <ul><a href="/join" class="button">Join a Session</a></ul> 
            </li>
        </div> 
    </header>
    <main>
        <div class="uzun-yazi sol-kay">
            <h3 class="title">
                Aim of the T&I: 
            </h3>
            <p class="text">
                 As with most software projects, the main motivation of this project is to make people's lives easier. More specifically,
                  the project mainly focuses on translation. Although it is very easy to communicate with technology over the internet, 
                  the aim of our project is to make face-to-face communication between different languages ​​much easier. The project should 
                  provide unicast, multicast and broadcast communication types for multilingual conferences. The main purpose of this project 
                  is to provide users with instant translation.
            </p>
        </div>
        <div class="uzun-yazi sağ-kay" style="display: flex; margin-top: 60px;">
            <div style="width: 730px">
                <h3 class="title">
                    The Offered Value
                </h3>
                <p class="text">Today, the translation of the spoken language into the desired language is provided by human translators 
                    at conferences and meetings. This enables communication but also wastes money and time. Our goal is to develop a system
                     that saves time and money and provides a more effective way of communication. However, in our research on this sector,
                      we realized that most of them do not support Turkish. This situation obliges Turkish users to know a language other than 
                      their mother tongue. Our main goal is to solve these problems in our project.</p>
            </div>
            <div style="width: 440px; margin-left: 210px;">
                <h3 class="title">
                    Why T&I?
                </h3>
                <p class="text">T&I is a project with facilitates effects on language and speech. Communication is one of the most important 
                    building blocks in every society. Our project, which facilitates communication between foreign languages, especially in our
                     globalizing world, offers a solution to a problem that has a very common usage area.</p>
            </div>
        </div>
       
    </main>
</body>

</html>