<!DOCTYPE html>
<html>

<head>
    <title>T&I</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin/css/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ce999ceac.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="/giris"><img src="/admin/img/logo_mor.png" alt="logo"
                style="padding-right: 250px;padding-left: 50px; width: 22vw; height: auto;"></a>
        <div class="nav-menu">
            <li>
                <ul class="ul1"><a href="/giris/about-us">About Us </a></ul>
                <ul class="ul1"><a href="/giris/how-it-works">How It Works?</a></ul>
            </li>
        </div>
        <div class="nav-menu" style="padding-left: 360px;">
            <li>
                <ul class="ul2"><a href="/login">Sign In</a></ul>
                <ul><a href="/join" class="button">Join a Session</a></ul>
            </li>
        </div>
    </header>
    <main>
        <div class="uzun-yazi sol-kay" style="width:1300px; margin-top:100px">
            <h3 class="title">
                How It Works?
            </h3>
            <p class="text">
                After entering T&I's website, if you are not a member, fill in the required information,
                select the language you want to use, enter the ID of the meeting you want to attend, and listen
                to the conference in your own language. You can get in the line and talk by raising a hand button
                during the meeting. You can become a member at any time without any fee. If you are a member already,
                you can join the meetings with an ID as well as create your own meeting by entering your
                membership information. Meetings will be started in the language you selected when signing up.
            </p>

        </div>


    </main>
</body>

</html>